.checkoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.checkoutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkoutFullName,
.checkoutLocation {
  display: inherit;
  flex-direction: row;
  justify-content: center;
}
.orderSummary {
  background: #000;
  color: aliceblue;
  margin-left: 2rem;
  margin-bottom: 2rem;
  border-radius: 25px;
}
.orderSummary-footer, .orderSummary-footer-total{
  align-items: center;
  padding: 10px 0;
  font-size: x-large;
}
.orderSummary-footer {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  margin-top: auto; /* Empuja el footer hacia abajo */
  background-color: var(--bg-secondary); /* Si deseas darle un fondo */
  color: var(--text-primary);
}
.orderSummary-footer-total {
  border-radius: 25px;
  color: #000;
  background-color: hsl(60, 1%, 49%); /* Si deseas darle un fondo */
  text-align: center;
}
.checkoutForm input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
  min-width: 100%;
}
.checkoutFullName input[type="text"] {
  min-width: 75%;
}
.checkoutLocation input[type="text"],
input[type="number"] {
  min-width: 26%;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .checkoutContainer {
    flex-direction: column;
  }
  .checkoutFullName,
  .checkoutLocation {
    flex-direction: column;
  }
  .checkoutFullName input[type="text"] {
    width: unset;
  }
  .checkoutLocation input[type="text"],
  input[type="number"] {
    min-width: unset;
  }
}
