/*----------------Navbar styles stars----------------*/
.navbar {
  position: fixed; /* antes: relative */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* para que quede encima de otros elementos */
  background-color: var(--bg-primary);
  height: 8vh;
  transition: width 600ms ease;
}

.navbar-nav {
  flex-wrap: unset;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

li:last-of-type {
  padding-left: unset;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #fff;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
  z-index: 1000;
}

.navbar,
.nav-item-userName,
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-item, .nav-item-userName {
  padding: 20px;
  width: fit-content;
}

.nav-item-userName{
  color: #7268da;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
}

.logo {
  /* margin-top: auto; */
}

.logo-img {
  height: 50px;
  width: 150px;
}

.menu-icon {
  display: none;
}

.end-btn {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: end;
  margin-left: auto;
  margin-right: 2rem;
}

.cart-container {
  display: flex;
  position: relative;
  margin-right: auto;
  flex-direction: row;
  justify-content: flex-end;
}

.product-counter {
  display: flex;
  position: absolute;
  top: 12px;
  background-color: #7268da;
  color: aliceblue;
  width: 2rem;
  height: 2rem;
  border-radius: 15px;
  z-index: 1000;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*----------------Responsive Navbar starts----------------*/

@media only screen and (max-width: 600px) {
  .navbar-nav > .nav-item {
    display: none;
  }

  .navbar-nav {
    padding: 0;
    justify-content: flex-start;
  }

  .menu-icon {
    display: flex;
    margin-right: 4rem;
    margin-left: 1rem;
  }

  .search-btn {
    margin-left: 4rem;
    /* margin-right: 1rem; */
  }

  .nav-elements {
    position: absolute;
    left: 0;
    top: 60px;
    background-color: var(--bg-primary);
    width: 0px;
    height: calc(110vh - 60px);
    overflow: hidden;
    z-index: 1000;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 12px;
    padding-top: 5px;
  }

  .nav-elements li {
    height: fit-content;
  }
  .nav-elements {
    transition: width 0.3s ease-in-out;
  }

  .nav-elements.active {
    width: 270px; /* Ajusta el tamaño según tu diseño */
  }

  .nav-elements {
    width: 0; /* Ambos inician ocultos */
    overflow: hidden;
  }
  /*-----Responsive Navbar ends-----*/
}
